<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Spots</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>



<div ng-app="myApp" ng-controller="myCtrl">

    {{ spotSelection.length }} spots selected.

    <div>
        <div> <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /> Select all... </div>
        <div ng-repeat="spot in topSpots">
            <input
                    type="checkbox"
                    name="selectedSpots[]"
                    value="{{spot.url}}"
                    ng-model="spot.selected"
                    >
            <span>
                <a href="{{ spot.url }}">{{ spot.name }}</a>
            </span>
            <span>
                {{ spot.address }}
                <a href="http://www.google.com/maps/search/{{ spot.address }}">map</a>
            </span>
        </div>
    </div>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', ['$scope', 'filterFilter', function($scope) {
        $scope.firstName= "Surkhab";
        $scope.lastName= "Niazi";
        $scope.spotSelection = [];

        // helper method to get selected fruits
        $scope.selectedSpots = function selectedSpots() {
            return filterFilter($scope.topSpots, { selected: true });
        };

        // watch fruits for changes
        $scope.$watch('topSpots|filter:{selected:true}', function (nv) {
            $scope.spotSelection = nv.map(function (spot) {
                return spot;
            });
        }, true);

        $scope.checkAll = function () {
            if ($scope.selectedAll) {
                $scope.selectedAll = true;
            } else {
                $scope.selectedAll = false;
            }
            angular.forEach($scope.topSpots, function (spot) {
                spot.selected = $scope.selectedAll;
            });

        };

        $scope.topSpots = [
            {
                'url': 'http://www.yelp.com/biz/portos-bakery-and-cafe-burbank',
                'name': 'Porto’s Bakery &amp; Cafe',
                'address': '3614 W Magnolia Blvd, Burbank, CA 91505'
            },
            {
                'url': 'http://www.yelp.com/biz/portos-bakery-and-cafe-glendale',
                'name': 'Porto’s Bakery &amp; Cafe',
                'address': '315 N Brand Blvd, Glendale, CA 91203'
            },
            {
                'url': 'http://www.yelp.com/biz/portos-bakery-and-cafe-downey',
                'name': 'Porto’s Bakery &amp; Cafe',
                'address': '8233 Firestone Blvd, Downey, CA 90241'
            },
            {
                'url': 'http://www.yelp.com/biz/cheese-board-pizza-berkeley',
                'name': 'Cheese Board Pizza',
                'address': '1512 Shattuck Ave, Berkeley, CA 94709'
            },
            {
                'url': 'http://www.yelp.com/biz/paseo-seattle-3',
                'name': 'Paseo',
                'address': '4225 Fremont Ave N, Seattle, WA 98103'
            },
            {
                'url': 'http://www.yelp.com/biz/joes-kansas-city-bar-b-que-kansas-city',
                'name': 'Joe’s Kansas City Bar-B-Que',
                'address': '3002 W 47th Ave, Kansas City, KS 66103'
            },
            {
                'url': 'http://www.yelp.com/biz/tkb-bakery-and-deli-indio-2',
                'name': 'TKB Bakery &amp; Deli',
                'address': '44911 Golf Ctr Pkwy, Indio, CA 92201'
            },
            {
                'url': 'http://www.yelp.com/biz/gary-danko-san-francisco',
                'name': 'Gary Danko',
                'address': '800 N Point St, San Francisco, CA 94109'
            },
            {
                'url': 'http://www.yelp.com/biz/the-morrison-los-angeles',
                'name': 'The Morrison',
                'address': '3179 Los Feliz Blvd, Los Angeles, CA 90039'
            },
            {
                'url': 'http://www.yelp.com/biz/mama-ds-italian-kitchen-newport-beach',
                'name': 'Mama D’s Italian Kitchen',
                'address': '3012 Newport Blvd, Newport Beach, CA 92663'
            },
            {
                'url': 'http://www.yelp.com/biz/franklin-barbecue-austin',
                'name': 'Franklin Barbecue',
                'address': '900 E 11th St, Austin, TX 78702'
            },
            {
                'url': 'http://www.yelp.com/biz/marukame-udon-honolulu',
                'name': 'Marukame Udon',
                'address': '2310 Kuhio Ave, Honolulu, HI 96815'
            },
            {
                'url': 'http://www.yelp.com/biz/cream-pan-tustin',
                'name': 'Cream Pan',
                'address': '602 El Camino Real, Tustin, CA 92780'
            },
            {
                'url': 'http://www.yelp.com/biz/dametra-cafe-carmel-2',
                'name': 'Dametra Cafe',
                'address': 'Corner of Ocean &amp; Lincoln, Carmel, CA 93921'
            },
            {
                'url': 'http://www.yelp.com/biz/little-miss-bbq-phoenix-2',
                'name': 'Little Miss BBQ',
                'address': '4301 E University Dr, Phoenix, AZ 85034'
            },
            {
                'url': 'http://www.yelp.com/biz/ono-seafood-honolulu',
                'name': 'Ono Seafood',
                'address': '747 Kapahulu Ave, Honolulu, HI 96816'
            },
            {
                'url': 'http://www.yelp.com/biz/da-poke-shack-kailua-kona',
                'name': 'Da Poke Shack',
                'address': '76-6246 Ali&#39;i Dr, Kailua-Kona, HI 96740'
            },
            {
                'url': 'http://www.yelp.com/biz/los-agaves-santa-barbara',
                'name': 'Los Agaves',
                'address': '600 N Milpas St, Santa Barbara, CA 93101'
            },
            {
                'url': 'http://www.yelp.com/biz/tacos-el-gordo-chula-vista-3',
                'name': 'Tacos El Gordo',
                'address': '689 H St, Chula Vista, CA 91910'
            },
            {
                'url': 'http://www.yelp.com/biz/bogarts-smokehouse-saint-louis-4',
                'name': 'Bogart’s Smokehouse',
                'address': '1627 S 9th St, Saint Louis, MO 63104'
            },
            {
                'url': 'http://www.yelp.com/biz/alinea-chicago',
                'name': 'Alinea',
                'address': '1723 N Halsted St, Chicago, IL 60614'
            },
            {
                'url': 'http://www.yelp.com/biz/joes-falafel-los-angeles',
                'name': 'Joe’s Falafel',
                'address': '3535 Cahuenga Blvd W, Los Angeles, CA 90068'
            },
            {
                'url': 'http://www.yelp.com/biz/baguette-cafe-las-vegas-2',
                'name': 'Baguette Cafe',
                'address': '8359 W Sunset Rd, Las Vegas, NV 89113'
            },
            {
                'url': 'http://www.yelp.com/biz/halls-chophouse-charleston',
                'name': 'Halls Chophouse',
                'address': '434 King St, Charleston, SC 29403'
            },
            {
                'url': 'http://www.yelp.com/biz/aviva-by-kameel-atlanta',
                'name': 'Aviva by Kameel',
                'address': '225 Peachtree St, Ste B-30, Atlanta, GA 30303'
            },
            {
                'url': 'http://www.yelp.com/biz/ikes-place-san-francisco',
                'name': 'Ike’s Place',
                'address': '3489 16th St, San Francisco, CA 94114'
            },
            {
                'url': 'http://www.yelp.com/biz/adobo-taco-grill-lakewood-3',
                'name': 'Adobo Taco Grill',
                'address': '5695 Woodruff Ave, Lakewood, CA 90713'
            },
            {
                'url': 'http://www.yelp.com/biz/kokkari-estiatorio-san-francisco',
                'name': 'Kokkari Estiatorio',
                'address': '200 Jackson St, San Francisco, CA 94111'
            },
            {
                'url': 'http://www.yelp.com/biz/mr-bbq-fullerton',
                'name': 'Mr BBQ',
                'address': '305 N State College Blvd, Fullerton, CA 92831'
            },
            {
                'url': 'http://www.yelp.com/biz/el-dorado-cantina-las-vegas',
                'name': 'El Dorado Cantina',
                'address': '3025 Sammy Davis Jr. Dr, Las Vegas, NV 89109'
            },
            {
                'url': 'http://www.yelp.com/biz/pappys-smokehouse-saint-louis-3',
                'name': 'Pappy’s Smokehouse',
                'address': '3106 Olive St, Saint Louis, MO 63103'
            },
            {
                'url': 'http://www.yelp.com/biz/t-deli-san-diego',
                'name': 'T Deli',
                'address': '1469 University Ave, San Diego, CA 92103'
            },
            {
                'url': 'http://www.yelp.com/biz/oscars-mexican-seafood-san-diego-3',
                'name': 'Oscar’s Mexican Seafood',
                'address': '703 Turquoise St, San Diego, CA 92109'
            },
            {
                'url': 'http://www.yelp.com/biz/gramercy-tavern-new-york',
                'name': 'Gramercy Tavern',
                'address': '42 E 20th St, New York, NY 10003'
            },
            {
                'url': 'http://www.yelp.com/biz/screen-door-portland',
                'name': 'Screen Door',
                'address': '2337 E Burnside St, Portland, OR 97214'
            },
            {
                'url': 'http://www.yelp.com/biz/le-bernardin-new-york',
                'name': 'Le Bernardin',
                'address': '155 W 51st St, New York, NY 10019'
            },
            {
                'url': 'http://www.yelp.com/biz/mamas-fish-house-restaurant-paia',
                'name': 'Mama’s Fish House Restaurant',
                'address': '799 Poho Pl, Paia, HI 96779'
            },
            {
                'url': 'http://www.yelp.com/biz/gaucho-parrilla-argentina-pittsburgh',
                'name': 'Gaucho Parrilla Argentina',
                'address': '1607 Penn Ave, Pittsburgh, PA 15222'
            },
            {
                'url': 'http://www.yelp.com/biz/gen-korean-bbq-house-cerritos',
                'name': 'Gen Korean BBQ House',
                'address': '11472 South St, Cerritos, CA 90703'
            },
            {
                'url': 'http://www.yelp.com/biz/gen-korean-bbq-rowland-heights',
                'name': 'Gen Korean BBQ',
                'address': '1388 Fullerton Rd, Rowland Heights, CA 91748'
            },
            {
                'url': 'http://www.yelp.com/biz/girl-and-the-goat-chicago',
                'name': 'Girl &amp; the Goat',
                'address': '809 W Randolph St, Chicago, IL 60607'
            },
            {
                'url': 'http://www.yelp.com/biz/langers-los-angeles-2',
                'name': 'Langer’s',
                'address': '704 S Alvarado St, Los Angeles, CA 90057'
            },
            {
                'url': 'http://www.yelp.com/biz/los-tacos-no-1-new-york',
                'name': 'Los Tacos No.1',
                'address': '75 9th Ave, New York, NY 10011'
            },
            {
                'url': 'http://www.yelp.com/biz/bakery-nouveau-seattle',
                'name': 'Bakery Nouveau',
                'address': '4737 California Ave SW, Seattle, WA 98116'
            },
            {
                'url': 'http://www.yelp.com/biz/sushi-ota-san-diego',
                'name': 'Sushi Ota',
                'address': '4529 Mission Bay Dr, San Diego, CA 92109'
            },
            {
                'url': 'http://www.yelp.com/biz/istanbul-grill-california-fountain-valley-2',
                'name': 'Istanbul Grill California',
                'address': '18010 Newhope St, Fountain Valley, CA 92708'
            },
            {
                'url': 'http://www.yelp.com/biz/mr-mamas-las-vegas-7',
                'name': 'Mr. Mamas',
                'address': '5693 S Jones Blvd, Las Vegas, NV 89118'
            },
            {
                'url': 'http://www.yelp.com/biz/aruns-indian-kichen-coral-springs-3',
                'name': 'Arun’s Indian Kichen',
                'address': '10278 W Sample Rd, Coral Springs, FL 33065'
            },
            {
                'url': 'http://www.yelp.com/biz/cochon-butcher-new-orleans-2',
                'name': 'Cochon Butcher',
                'address': '930 Tchoupitoulas St, New Orleans, LA 70130'
            },
            {
                'url': 'http://www.yelp.com/biz/coops-west-texas-barbeque-lemon-grove',
                'name': 'Coop’s West Texas Barbeque',
                'address': '2625 Lemon Grove Ave, Lemon Grove, CA 91945'
            },
            {
                'url': 'http://www.yelp.com/biz/kennys-wood-fired-grill-dallas-2',
                'name': 'Kenny’s Wood Fired Grill',
                'address': '5000 Belt Line Rd, Dallas, TX 75254'
            },
            {
                'url': 'http://www.yelp.com/biz/yardbird-southern-table-and-bar-miami-beach',
                'name': 'Yardbird Southern Table &amp; Bar',
                'address': '1600 Lenox Ave, Miami Beach, FL 33139'
            },
            {
                'url': 'http://www.yelp.com/biz/beach-break-cafe-oceanside',
                'name': 'Beach Break Cafe',
                'address': '1802 S Coast Hwy, Oceanside, CA 92054'
            },
            {
                'url': 'http://www.yelp.com/biz/johnny-pacific-winnetka',
                'name': 'Johnny Pacific',
                'address': '7574 Winnetka Ave, Winnetka, CA 91306'
            },
            {
                'url': 'http://www.yelp.com/biz/outlaws-cafe-van-nuys',
                'name': 'Outlaws Cafe',
                'address': '6201 Van Nuys Blvd, Van Nuys, CA 91401'
            },
            {
                'url': 'http://www.yelp.com/biz/lous-cafe-san-francisco',
                'name': 'Lou’s Cafe',
                'address': '5017 Geary Blvd, San Francisco, CA 94118'
            },
            {
                'url': 'http://www.yelp.com/biz/los-andes-restaurant-providence',
                'name': 'Los Andes Restaurant',
                'address': '903 Chalkstone Ave, Providence, RI 02908'
            },
            {
                'url': 'http://www.yelp.com/biz/arizmendi-bakery-san-francisco',
                'name': 'Arizmendi Bakery',
                'address': '1331 9th Ave, San Francisco, CA 94122'
            },
            {
                'url': 'http://www.yelp.com/biz/lahaina-grill-lahaina',
                'name': 'Lahaina Grill',
                'address': '127 Lahainaluna Rd, Lahaina, HI 96761'
            },
            {
                'url': 'http://www.yelp.com/biz/the-french-laundry-yountville-2',
                'name': 'The French Laundry',
                'address': '6640 Washington St, Yountville, CA 94599'
            },
            {
                'url': 'http://www.yelp.com/biz/guss-world-famous-hot-and-spicy-chicken-memphis',
                'name': 'Gus’s World Famous Hot &amp; Spicy Chicken',
                'address': '310 S Front St, Memphis, TN 38103'
            },
            {
                'url': 'http://www.yelp.com/biz/uchi-austin',
                'name': 'Uchi',
                'address': '801 S Lamar Blvd, Austin, TX 78704'
            },
            {
                'url': 'http://www.yelp.com/biz/rockfire-grill-mission-viejo',
                'name': 'Rockfire Grill',
                'address': '28251 Marguerite Pkwy, Mission Viejo, CA 92692'
            },
            {
                'url': 'http://www.yelp.com/biz/el-chato-taco-truck-los-angeles-2',
                'name': 'El Chato Taco Truck',
                'address': '5300 W Olympic Blvd, Los Angeles, CA 90019'
            },
            {
                'url': 'http://www.yelp.com/biz/zahav-philadelphia',
                'name': 'Zahav',
                'address': '237 St James Pl, Philadelphia, PA 19106'
            },
            {
                'url': 'http://www.yelp.com/biz/helenas-hawaiian-food-honolulu',
                'name': 'Helena’s Hawaiian Food',
                'address': '1240 N School St, Honolulu, HI 96817'
            },
            {
                'url': 'http://www.yelp.com/biz/sal-kris-and-charlies-deli-astoria',
                'name': 'Sal, Kris, &amp; Charlie’s Deli',
                'address': '33-12 23rd Ave, Astoria, NY 11105'
            },
            {
                'url': 'http://www.yelp.com/biz/providence-los-angeles-2',
                'name': 'Providence',
                'address': '5955 Melrose Ave, Los Angeles, CA 90038'
            },
            {
                'url': 'http://www.yelp.com/biz/zacatecas-restaurant-hawthorne',
                'name': 'Zacatecas Restaurant',
                'address': '13737 Inglewood Ave, Hawthorne, CA 90250'
            },
            {
                'url': 'http://www.yelp.com/biz/monells-dining-and-catering-nashville',
                'name': 'Monell’s Dining &amp; Catering',
                'address': '1235 6th Ave N, Nashville, TN 37208'
            },
            {
                'url': 'http://www.yelp.com/biz/phils-bbq-san-diego-2',
                'name': 'Phil’s BBQ',
                'address': '3750 Sports Arena Blvd, San Diego, CA 92110'
            },
            {
                'url': 'http://www.yelp.com/biz/per-se-new-york',
                'name': 'Per Se',
                'address': '10 Columbus Cir, 4th Floor, New York, NY 10019'
            },
            {
                'url': 'http://www.yelp.com/biz/daniel-new-york-4',
                'name': 'Daniel',
                'address': '60 E 65th St., New York, NY 10065'
            },
            {
                'url': 'http://www.yelp.com/biz/yoshino-japanese-deli-carlsbad',
                'name': 'Yoshino Japanese Deli',
                'address': '2913 State St, Carlsbad, CA 92008'
            },
            {
                'url': 'http://www.yelp.com/biz/eleven-madison-park-new-york',
                'name': 'Eleven Madison Park',
                'address': '11 Madison Ave, New York, NY 10010'
            },
            {
                'url': 'http://www.yelp.com/biz/kang-ho-dong-baekjeong-los-angeles-2',
                'name': 'Kang Ho Dong Baekjeong',
                'address': '3465 W 6th St, Los Angeles, CA 90020'
            },
            {
                'url': 'http://www.yelp.com/biz/cafe-rolle-sacramento-3',
                'name': 'Cafe Rolle',
                'address': '5357 H St, Sacramento, CA 95819'
            },
            {
                'url': 'http://www.yelp.com/biz/chama-ga%C3%BAcha-brazilian-steakhouse-houston-2',
                'name': 'Chama Gaúcha Brazilian Steakhouse',
                'address': '5865 Westheimer Rd, Houston, TX 77057'
            },
            {
                'url': 'http://www.yelp.com/biz/chama-ga%C3%BAcha-brazilian-steakhouse-downers-grove-2',
                'name': 'Chama Gaúcha Brazilian Steakhouse',
                'address': '3008 Finley Rd, Downers Grove, IL 60515'
            },
            {
                'url': 'http://www.yelp.com/biz/musubi-cafe-iyasume-honolulu',
                'name': 'Musubi Cafe Iyasume',
                'address': '2427 Kuhio Ave, Ground Fl, Honolulu, HI 96815'
            },
            {
                'url': 'http://www.yelp.com/biz/wallys-cafe-emeryville',
                'name': 'Wally’s Cafe',
                'address': '3900 San Pablo Ave, Emeryville, CA 94608'
            },
            {
                'url': 'http://www.yelp.com/biz/mastros-steakhouse-beverly-hills-penthouse-beverly-hills',
                'name': 'Mastro’s Steakhouse Beverly Hills Penthouse',
                'address': '246 N Canon Dr, Beverly Hills, CA 90210'
            },
            {
                'url': 'http://www.yelp.com/biz/neptune-oyster-boston',
                'name': 'Neptune Oyster',
                'address': '63 Salem St, Boston, MA 02113'
            },
            {
                'url': 'http://www.yelp.com/biz/oyster-bar-las-vegas-2',
                'name': 'Oyster Bar',
                'address': '2411 W Sahara Ave, Las Vegas, NV 89102'
            },
            {
                'url': 'http://www.yelp.com/biz/pike-place-chowder-seattle',
                'name': 'Pike Place Chowder',
                'address': '1530 Post Alley, Seattle, WA 98101'
            },
            {
                'url': 'http://www.yelp.com/biz/the-halal-guys-new-york-2',
                'name': 'The Halal Guys',
                'address': 'W 53rd St 6th Ave, New York, NY 10019'
            },
            {
                'url': 'http://www.yelp.com/biz/the-codmother-fish-and-chips-san-francisco',
                'name': 'The Codmother Fish and Chips',
                'address': '496 Beach  St, San Francisco, CA 94133'
            },
            {
                'url': 'http://www.yelp.com/biz/shark-pit-maui-lahaina',
                'name': 'Shark Pit Maui',
                'address': '170 Papalaua St, Lahaina, HI 96761'
            },
            {
                'url': 'http://www.yelp.com/biz/farmstead-at-long-meadow-ranch-saint-helena',
                'name': 'Farmstead at Long Meadow Ranch',
                'address': '738 Main St, Saint Helena, CA 94574'
            },
            {
                'url': 'http://www.yelp.com/biz/genwa-korean-bbq-los-angeles-2',
                'name': 'Genwa Korean BBQ',
                'address': '5115 Wilshire Blvd, Los Angeles, CA 90036'
            },
            {
                'url': 'http://www.yelp.com/biz/little-lucca-sandwich-shop-and-deli-south-san-francisco',
                'name': 'Little Lucca Sandwich Shop &amp; Deli',
                'address': '724 El Camino Real, South San Francisco, CA 94080'
            },
            {
                'url': 'http://www.yelp.com/biz/bobby-q-phoenix',
                'name': 'Bobby Q',
                'address': '8501 N 27th Ave, Phoenix, AZ 85051'
            },
            {
                'url': 'http://www.yelp.com/biz/umekes-kailua-kona',
                'name': 'Umeke’s',
                'address': '75-143 Hualalai Rd, Kailua-Kona, HI 96740'
            },
            {
                'url': 'http://www.yelp.com/biz/root-down-denver',
                'name': 'Root Down',
                'address': '1600 W 33rd Ave, Denver, CO 80211'
            },
            {
                'url': 'http://www.yelp.com/biz/tar-and-roses-santa-monica',
                'name': 'Tar &amp; Roses',
                'address': '602 Santa Monica Blvd, Santa Monica, CA 90401'
            },
            {
                'url': 'http://www.yelp.com/biz/leodas-kitchen-and-pie-shop-lahaina',
                'name': 'Leoda’s Kitchen and Pie Shop',
                'address': '820 Olowalu Village Rd, Lahaina, HI 96761'
            },
            {
                'url': 'http://www.yelp.com/biz/the-waffle-window-portland',
                'name': 'The Waffle Window',
                'address': '3610 SE Hawthorne Blvd, Portland, OR 97214'
            },
            {
                'url': 'http://www.yelp.com/biz/caf%C3%A9-besalu-seattle-2',
                'name': 'Café Besalu',
                'address': '5909 24th Ave NW, Seattle, WA 98107'
            },
            {
                'url': 'http://www.yelp.com/biz/roxie-food-center-san-francisco',
                'name': 'Roxie Food Center',
                'address': '1901 San Jose Ave, San Francisco, CA 94112'
            },
            {
                'url': 'http://www.yelp.com/biz/blues-city-deli-saint-louis',
                'name': 'Blues City Deli',
                'address': '2438 McNair Ave, Saint Louis, MO 63104'
            },
            {
                'url': 'http://www.yelp.com/biz/uchiko-austin',
                'name': 'Uchiko',
                'address': '4200 N Lamar Blvd, Austin, TX 78756'
            },
            {
                'url': 'http://www.yelp.com/biz/bavettes-bar-and-boeuf-chicago',
                'name': 'Bavette’s Bar &amp; Boeuf',
                'address': '218 W Kinzie St, Chicago, IL 60654'
            },
            {
                'url': 'http://www.yelp.com/biz/39-degrees-long-beach',
                'name': '39 Degrees',
                'address': '665 Redondo Ave, Long Beach, CA 90814'
            },
            {
                'url': 'http://www.yelp.com/biz/dishdash-sunnyvale',
                'name': 'DishDash',
                'address': '190 S Murphy Ave, Sunnyvale, CA 94086'
            }
        ];

    }

    ]);


// curl --get --data-urlencode 'address=320 North Central Ave, Glendale, CA' 'https://maps.googleapis.com/maps/api/geocode/json?key='



</script>

</body>
</html>